# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage
htmlcov/

# Environments
.env
venv/

# Serverless directories
.serverless/

node_modules/

newman/
testResults/
